<div class="offcanvas offcanvas-end bg-dark-subtle" style="width:100%" tabindex="-1" id="offCanvasAdmin"
    aria-labelledby="offCanvasAdminExample">

    <div class="offcanvas-body container">

        <h5 class="fs-6">Admin Panel</h5>
        <br>
        <div class="row">
            <div class="col-8 m-auto mb-3">
                <a href="<%= spotifyURL %>" class="btn btn-success btn-lg m-auto text-center text-dark spotify-color" style="width: 100%">
                    Spotify anmelden
                </a>
            </div>
        </div>
        <hr>

        <div class="container text-center fixed-bottom bg-dark">
            <div class="row m-1">

                <div class="col">
                    <button type="button" class="btn btn-lg" data-bs-dismiss="offcanvas"><i
                            class="bi bi-house"></i></button>
                </div>

            </div>
        </div>

        <ul class="p-0 mb-5 pb-2 list-group">

            <li class="border rounded list-group-item m-0 mt-2 p-0">
                <div class="m-0">
                    <div class="row g-0">                                         
                        <div class="col-2">
                            <select class="text-center form-select m-auto h-100 w-100" aria-label="Default select example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>       
                        <div class="col-8">
                            <div class="m-2">
                                <div class="card-text">
                                    <div class="text-truncate">
                                    Iphone von Nico 
                                        <br>
                                        <small class="text-body-secondary">192.168.10.1</small>
                                    </div>
                                </div>
                            </div>
                        </div>       
                        <div class="col-2">                              
                            <button type="button" class="btn removeFromQueueButton" style="width: 100%; height: 100%">
                                <i class="bi bi-hammer"></i>
                            </button>
                            <input type="hidden" value="${index}" class="index"></input>
                        </div>            
                    </div>
                </div>
            </li>  
  
    </ul>
    </div>
</div>