<div class="offcanvas offcanvas-end" style="width:100%" tabindex="-1" id="offCanvasAdmin"
    aria-labelledby="offCanvasAdminExample">

    <div class="offcanvas-body container">

        <h3 class="mt-2">Admin Pannel</h3>
        <br>
        <div class="row">
            <div class="col-8 m-auto mb-3">
                <a href="<%= spotifyURL %>" class="btn btn-primary btn-lg m-auto text-center" style="width: 100%">
                    Spotify anmelden
                </a>
            </div>
        </div>
        <hr>

        <div class="container text-center fixed-bottom bg-dark-subtle">
            <div class="row m-1">

                <div class="col">
                    <button type="button" class="btn btn-lg" data-bs-dismiss="offcanvas"><i
                            class="bi bi-house"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>