.blurImage {
    backdrop-filter: blur(2rem);
}

.image-container {
    position: relative;
    width: 100%;
    /* Adjust the width to 100% */
    padding-top: 100%;
    /* Set the height based on the width */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-image {
    filter: blur(40px);
    /* Adjust the blur amount as needed */
    z-index: 1;
    transform: scale(1.1);
}

.foreground-image {
    z-index: 2;
}