:root {
    --spotify: #1ed760;
    --spotify-dark: #17ab4b;
}

.bg-spotify {
    background-color: var(--spotify);
}

.bg-spotify-dark {
    background-color: var(--spotify-dark);
}

.text-spotify {
    color: var(--spotify-dark);
}

.border-spotify {
    border: 5px solid red;
}