<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
  <meta charset="utf-16" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#212529"/>

  <title>Boom Box Alpha</title>

  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="images/tada.png">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="css/boom.min.css">
</head>

<body class="bg-dark-subtle">

  <!-- Top information -->
  <div id="spotifyWarning" class="text-center fixed-top bg-danger border-bottom border-danger-subtle border-2">
    <div class="row m-1">

      <div class="col text-white">
        Spotify not connected!
      </div>

    </div>
  </div>

  <div class="container bg-dark">

    <!-- Current playing song display-->
    <div class="row">
      <div class="col-10 m-auto mt-5">
        <!--<div class="card text-bg-dark mr-5 ml-5">
          <img src="test.png" class="card-img-top" id="currentSongImage" onerror='this.src="img/default.jpg"'>
          <img src="test.png" class="card-img-top blurImage" id="currentSongImage" onerror='this.src="img/default.jpg"'>

          
        </div>-->
        <div class="image-container ">
          <img src="" alt="Background Image" class="background-image rounded-3" id="currentSongImage">
          <img src="" alt="Foreground Image" class="foreground-image" id="currentSongImageBackground">
        </div>
      </div>
      <div class="row m-0 p-4">
        <div class="card-body pb-0">
          <h5 class="text-white" id="currentTitleTextLabel"></h5>
          <p id="currentArtistTextLabel"></p>
        </div>

        <div class="card-body pt-0 pb-0">
          <div class="wrapper mb-2">
            <div class="range">
              <input type="range" min="0" max="1000" class="" id="progressBar" />
            </div>
          </div>
          <div class="row m-2">
            <div class="col-4 font-monospace" id="currentSongPlaytimeLabel">
              00:12
            </div>
            <div class="col-4">

            </div>
            <div class="col-4 text-end font-monospace" id="currentSongLengthLabel">
              00:12
            </div>
          </div>
        </div>
        <div class="row m-0 mb-3">

          <div class="col">
            <button type="button" id="skipBackwardButton" class="btn btn-lg w-100 text-center"><i
                class="bi bi-skip-backward"></i></button>
          </div>
          <div class="col">
            <button type="button" id="playButton"
              class="btn btn-success btn-lg w-100 text-center text-dark spotify-color"></button>
          </div>
          <div class="col">
            <button type="button" id="skipForwardButton" class="btn btn-lg w-100 text-center"><i
                class="bi bi-skip-forward"></i></button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="container">

    <ul class="p-0 mb-5 pb-2 list-group" id="queueList">

      <!-- Song Queue -->

    </ul>

  </div>
  <!-- Off canvas for the search bar to the left -->
  <div class="offcanvas offcanvas-start" style="width:100%" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-body container bg-dark-subtle">

      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Suche</label>
          <input type="text" class="form-control" id="searchTextInput" value="" aria-describedby="Song or album name">
          <div id="emailHelp" class="form-text">Suche nach einem Lied Titel.</div>
        </div>
      </form>

      <ul class="p-0 list-group" id="searchResultList">

        <!-- Songs will be added here after search -->

      </ul>

      <div class="text-center">
        <h4>Keine Ergebnisse gefunden.</h4>
      </div>

      <div class="container text-center fixed-bottom bg-dark">
        <div class="row m-1">

          <div class="col">
            <button type="button" class="btn btn-lg" data-bs-dismiss="offcanvas"><i class="bi bi-house"></i></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Off canvas for the admin pannel to the right -->
  <% if (isAdmin) { %>
    <%- include('../private/admin.ejs') %>
      <% } %>

        <!-- Bottom navigation -->
        <div class="container text-center fixed-bottom bg-dark">
          <div class="row m-1">

            <div class="col">
              <button type="button" data-bs-toggle="offcanvas" id="Searchbutton" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample" class="btn btn-lg"><i class="bi bi-search"></i></button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-lg"><i class="bi bi-house"></i></button>
            </div>
            <div class="col">
              <button type="button" data-bs-toggle="offcanvas" href="#offCanvasAdmin" role="button"
                aria-controls="offCanvasAdmin" class="btn btn-lg<% if (!isAdmin) { %> disabled<% } %>"><i
                  class="bi bi-gear"></i></button>
            </div>

          </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/boom.min.js"></script>

</body>

</html>